/* non product */

.non-product{
    padding: 40px;
    background-color: var(--white-color);
}

.non-product h1{
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 16px;
}

.non-product p{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--text-color);
}

.non-product a{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--red-color);
    text-decoration: none;
}

/* list product */

.payment{
    background-color: var(--white-color);
    border-radius: 5px;
}

.cart-list{
    padding: 0 20px;
    border-right: 1px solid #ececec;
}

.cart-list > h1{
    padding-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: var(--red-color);
}

.cart-list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
}
.last-item{
    border-bottom: none;
}
.cart-list__item > p{
    font-size: 1.6rem;
    color: var(--red-color);
}

.item_img{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100px;
}
.img_wrap{
    height: 100%;
}

.item-img-des-wrap{
    display: flex;
    align-items: center;
    height: 100%;
}

.item-img-des-wrap p{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    margin-left: 20px;
}

.remove-product{
    font-size: 1.6rem;
    padding: 8px;
    cursor: pointer;
    color: #ccc;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

/* total money */

.checkout-infor{
    padding: 20px;
    width: 300px;
}

.checkout-infor > h1{
    text-align: center;
    font-size: 3rem;
    color: var(--red-color);
}

.checkout-infor > button{
    width: 100%;
    font-size: 16px;
    padding: 8px;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.checkout-infor__input{
    outline: none;
    width: 100%;
    margin-top: 6px;
    padding: 8px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color:#333;
    font-size: 1.6rem;
    line-height: 2rem;
}

.input-header{
    margin-top: 20px;

    color: var(--text-color);
    font-size: 1.6rem   ;
    font-weight: bold;
}

::placeholder{
    color: #555 !important;
}

.total-money__price{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.total-money__price > h3{
    font-size: 2rem;
    color: var(--text-color);
}

.total-money__price > p{
    font-size: 1.6rem;
    color: var(--text-color);
}