/* product detail */
html{
    background-color: #f8f8f8;
}

.product-container {
    padding-top: calc(var(--header-height) + 50px);
    min-height: calc(100vh - var(--footer-height) - 100px - var(--header-height));
    background-color: #f8f8f8;
    width: 100%;
    margin-bottom: 50px;
}

.single-product{
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 3px;
}

.single-product h1 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 3rem;
}

.single-product h4 {
    margin-top: 30px;
    font-size: 2rem;
    color: var(--red-color);
    background-color: #fafafa;
    padding: 16px;
    width: 400px;
}

.single-product p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 30px;
    display: inline-block;
}

.small-img-row{
    display: flex;
    justify-content: left;
}

.small-img-col{
    width: 20%;
    cursor: pointer;
    padding: 5px;
    height: 120px;
}

.small-img-col > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* product description */

.product-description{
    margin-top: 50px;
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 3px;
    /* max-height: 1000px; */
}

.product-description h1{
    font-weight: 500;
    font-size: 2.4rem;
}

.product-description p{
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--text-color);
}

.hot-product-wrap{
    margin-top: 50px;
    background-color: var(--white-color);
    padding-left: 16px;
    padding: 16px;
}

.hot-product-wrap h1{
    font-weight: 500;
    font-size: 2.4rem;
}

.hot-product-list{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.hot-product-item{
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    position: relative;
    align-items: center;
    text-decoration: none;
}


.hot-product-item h1{
    color: var(--text-color);
}

.hot-product-item img{
    height: 150px;
    width: 33%;
    object-fit: cover;
}

.hot-product-item p{
    font-size: 1.6rem;
    margin-top: 0;
    color: var(--red-color);
}

.hot-product-item h3{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hot-product-item-body{
    margin-left: 20px;
}

.slick-next.pull-right.slick-arrow{
    right: 0;
}
.slick-prev.pull-left.slick-arrow{
    left: 0;
}
.slick-arrow{
    width: 30px;
    height: 30px;
    font-size: 2rem;
}

/* field */

.field-list__item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.field-list__item > p{
    margin-top: 15px;
}

.field-item__options{
    margin-left: 20px;
}

.field-item__options > button{
    background-color: var(--white-color);
    border: 1px solid rgb(199, 194, 194);
    font-size: 1.4rem;
    padding: 8px 12px;
    margin: 10px 5px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 3px;
}

